.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 100px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  gap: 70px;
}

.content .img {
  width: 550px;
  height: auto;
  border-radius: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text h2 {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -2px;
  text-wrap: balance;
  line-height: 75px;
}

.text p {
  font-size: 16px;
  color: rgb(63, 63, 63);
  max-width: 550px;
}

.container_cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  max-width: 330px;
  min-height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 20px;
  padding: 20px 20px;
}
.card .gif {
  width: 75px;
  height: auto;
}

.text_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.text_card h3 {
  font-size: 18px;
  text-wrap: balance;
}

.text_card p {
  font-size: 16px;
  color: rgb(63, 63, 63);
  text-wrap: balance;
}

@media (max-width: 1500px) {
  .container {
    padding: 50px 0px;
  }
}

@media (max-width: 1350px) {
  .content {
    width: 90%;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .text {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .container_cards {
    justify-content: center !important;
  }

  .content .img {
    width: 100%;
    max-width: 920px;
    height: 500px;
    object-fit: cover;
  }

  .text p {
    max-width: 100%;
    text-wrap: balance;
  }

  .container_cards {
    justify-content: flex-start;
  }

  .card {
    max-width: 100%;
    max-width: 450px;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (max-width: 1050px) {
  .content {
    width: 90%;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .info {
    gap: 20px;
  }

  .container_cards {
    gap: 15px;
  }

  .card {
    max-width: 100%;
    padding: 20px 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 30px 0px;
  }
  .text {
    text-align: start;
    align-items: flex-start;
  }
  .text h2 {
    font-size: 55px;
    line-height: 75px;
  }

  .text p {
    text-wrap: stable;
  }

  .container .img {
    border-radius: 20px;
    object-fit: fill;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 550px) {
  .text h2 {
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -1.5px;
  }

  .text p {
    font-size: 16px;
  }

  .card .gif {
    width: 70px;
    height: auto;
  }

  .card .text_card {
    gap: 0px;
  }

  .card .text_card p {
    font-size: 15px;
  }
}
